doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Data & Analytics Professional

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.7.2/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none David Gilberto Rodriguez Acosta
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | David Gilberto 
                        span.text-primary Rodriguez Acosta
                    .subheading.mb-5
                        | Colombia · Meta - Villavicencio · (319) 599-8184 · 
                        a(href='mailto:uddavidro@gmail.com') uddavidro@gmail.com
                    p.lead.mb-5
                        | Business Intelligence professional with over 12+ years of experience designing and delivering data-driven solutions to support strategic decision-making. Adept at end-to-end BI development, from ETL to visualization, turning data into strategic insights that drive business performance. Recognized for leading impactful BI initiatives and collaborating across teams to optimize decision-making through data. In addition to a strong foundation in BI, I have contributed to several Data Science projects, applying Data Lakehouse modeling and advanced analytics to complement traditional reporting. Known for my analytical thinking, business-oriented approach, and ability to connect data with real-world outcomes.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/dgra/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Dathos1984')
                            i.fab.fa-github
                        a.social-icon(href='assets/cv/cv.pdf' title='Download my CV' target='_blank')
                           i.fas.fa-file-pdf  

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Globant
                            .subheading.mb-3 Senior Level 2 - Data & Analytics Professional
                            ul
                                li Designed and built data pipelines and ETL processes in cloud environments (AWS/GCP), ensuring data quality and integrity for decision-making.
                                li Created over 20 executive dashboards and reports in Power BI, enabling clients to monitor operations in real-time and identify new business opportunities.
                                li Performed exploratory and statistical data analysis using Python and SQL to identify trends, patterns, and anomalies, presenting findings to technical and executive teams.
                        .flex-shrink-0
                            span.text-primary April 2017 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            ul
                                li Designed and built data pipelines and ETL processes in cloud environments (AWS/GCP), ensuring data quality and integrity for decision-making.
                                li Created over 20 executive dashboards and reports in Power BI, enabling clients to monitor operations in real-time and identify new business opportunities.
                                li Performed exploratory and statistical data analysis using Python and SQL to identify trends, patterns, and anomalies, presenting findings to technical and executive teams.
              
                        .flex-shrink-0
                            span.text-primary December 2011 - March 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Web Designer
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
                        .flex-shrink-0
                            span.text-primary July 2010 - December 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Design Intern
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                        .flex-shrink-0
                            span.text-primary September 2008 - June 2010

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Colorado Boulder
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science - Web Development Track
                            p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary August 2006 - May 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 James Buchanan High School
                            .subheading.mb-3 Technology Magnet Program
                            p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary August 2002 - May 2006

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    p.subheading.mb-3 Select a category to filter technologies.
                    // 1. FILTER BUTTONS
                    #filters.d-flex.flex-wrap.justify-content-center.mb-3
                        button.btn.btn-primary.m-1.active(data-filter="all") All
                        button.btn.btn-outline-primary.m-1(data-filter="bi_visualization") BI & Visualization
                        button.btn.btn-outline-primary.m-1(data-filter="etl") ETL Tools
                        button.btn.btn-outline-primary.m-1(data-filter="databases") Databases                                                
                        button.btn.btn-outline-primary.m-1(data-filter="cloud_big_data") Cloud & Big Data
                        button.btn.btn-outline-primary.m-1(data-filter="languages") Languages
                    // 2. SKILLS ICON CONTAINER
                    #skills-grid.row.g-3.text-center.flex-wrap.justify-content-center
  
                        // -- BI & Visualization --
                        .col-2.col-md-1.skill-item.text-center(data-category="bi_visualization")
                            i.fas.fa-chart-bar.fa-2x
                            p.mt-1 Power BI
                        .col-2.col-md-1.skill-item.text-center(data-category="bi_visualization")
                            i.fas.fa-chart-pie.fa-2x
                            p.mt-1 Tableau
                        .col-2.col-md-1.skill-item.text-center(data-category="bi_visualization")
                            i.fas.fa-cube.fa-2x
                            p.mt-1 Cube.js
                        .col-2.col-md-1.skill-item.text-center(data-category="bi_visualization")
                            i.fas.fa-chart-simple.fa-2x
                            p.mt-1 Cognos
                        // -- ETL Tools --
                        .col-2.col-md-1.skill-item.text-center(data-category="etl")
                            i.fas.fa-cogs.fa-2x
                            p.mt-1 Datastage
                        .col-2.col-md-1.skill-item.text-center(data-category="etl")
                            i.fas.fa-project-diagram.fa-2x
                            p.mt-1 Airflow
                        .col-2.col-md-1.skill-item.text-center(data-category="etl")
                            i.fas.fa-project-diagram.fa-2x
                            p.mt-1 SSIS
                        
                        // -- Databases --
                        .col-2.col-md-1.skill-item.text-center(data-category="databases")
                            i.fas.fa-server.fa-2x
                            p.mt-1 PostgreSQL
                        .col-2.col-md-1.skill-item.text-center(data-category="databases")
                            i.fas.fa-database.fa-2x
                            p.mt-1 MySQL
                        .col-2.col-md-1.skill-item.text-center(data-category="databases")
                            i.fab.fa-amazon.fa-2x
                            p.mt-1 Redshift
                        .col-2.col-md-1.skill-item.text-center(data-category="databases")
                            i.fas.fa-table.fa-2x
                            p.mt-1 Oracle
                        .col-2.col-md-1.skill-item.text-center(data-category="databases")
                            i.fas.fa-leaf.fa-2x
                            p.mt-1 MongoDB
                        .col-2.col-md-1.skill-item.text-center(data-category="databases")
                            i.fas.fa-database.fa-2x
                            p.mt-1 DB2

                        // -- Cloud & Big Data --
                        .col-2.col-md-1.skill-item.text-center(data-category="cloud_big_data")
                            i.fab.fa-aws.fa-2x
                            p.mt-1 AWS
                        .col-2.col-md-1.skill-item.text-center(data-category="cloud_big_data")
                            i.fab.fa-google.fa-2x
                            p.mt-1 GCP
                        .col-2.col-md-1.skill-item.text-center(data-category="cloud_big_data")
                            i.fab.fa-microsoft.fa-2x
                            p.mt-1 Azure
                        .col-2.col-md-1.skill-item.text-center(data-category="cloud_big_data")
                            i.fas.fa-fire.fa-2x
                            p.mt-1 Spark
                        .col-2.col-md-1.skill-item.text-center(data-category="cloud_big_data")
                            i.fas.fa-cogs.fa-2x
                            p.mt-1 dbt
                        // -- Languages --
                        .col-2.col-md-1.skill-item.text-center(data-category="languages")
                            i.fab.fa-python.fa-2x
                            p.mt-1 Python
                        .col-2.col-md-1.skill-item.text-center(data-category="languages")
                            i.fas.fa-database.fa-2x
                            p.mt-1 SQL

                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Analytics Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mobile Web Specialist - Google Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - James Buchanan High School - Hackathon 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        
        // Core theme JS
        script(src='js/scripts.js')