// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #515a63;

// Override Bootstrap color system

$black: #1d1715;

// Override Bootstrap default state colors

$primary: $black;
